@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Note>
@{
    @foreach(var note in Model)
    {
        <div class="card-body">
            <p class="card-text">@note.Description</p>
        </div>
    }
}
