@using AssignmentManager.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NotesListViewModel
@{

    <div class="card" style="width: 24rem;">
          <ul class="list-group list-group-flush">
            @foreach (var note in Model.Notes)
            {
                <li class="list-group-item">@note.Description</li>
            }
          </ul>
    </div>
}
