@model Note
@{
    ViewData["Title"] = "Note list";
}

<div class="text-center">
    <div class="d-gtid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Note" asp-action="Create">Add new note</a>
    </div>
    <br />

    <h1 class="display-4">Notes list</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Celular</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
    
  </tbody>
</table>
</div>
