@model IEnumerable<Note>
@{
    ViewData["Title"] = "List of notes";
}

<div class="text-left">
    @foreach (var note in Model)
    {
        <p class="card-text">@note.Description</p>

    }
</div>
